h6 {
    margin-left: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: #FFF;
  }

  .cards{
    padding: 10px;
  }